langchain==0.3.25
langchain-anthropic==0.3.10
langchain-community==0.3.23
langchain-core==0.3.55
anthropic==0.50.0
streamlit==1.45.0
streamlit-folium==0.25.0
folium==0.19.5
faiss-cpu==1.10.0
sentence-transformers==3.4.1
fpdf2==2.8.3
torch==2.2.2
torchvision==0.17.2
